@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/9ae98a2088436bb7cb6d26b99e6b12800eedb5b9/Bestier-Small-L-Shaped-Desk-with-Storage-Shelves-Corner-Computer-Desk.jpg" 
      class="d-block w-100" alt="Desk 1">
    </div>
    <div class="carousel-item">
      <img src="https://i.ebayimg.com/images/g/mggAAOSw6DZjvhN6/s-l1600.jpg" 
      class="d-block w-100" alt="Desk 2">
    </div>
    <div class="carousel-item">
      <img src="https://img5.su-cdn.com/cdn-cgi/image/width=600,height=600/mall/2021/04/10/a5a6ad8fa6a647d283807e42b9f147fc.jpg" 
      class="d-block w-100" alt="Desk">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
